#container {
  height: 300px;
  width: 100%;
  text-align: center;
  margin: 5% 5% 0 5%;
}

.imgDiv{
  height: 100%;
  width: 20%;
  display: inline-block;
}

#captions {
  margin: auto;
  width: 60%;
}

.imgCptn {
  /*display: inline-block;*/
}

#pc1 {
  background-image:;
  background-size: cover;
  background-position: center;
}

#pc2 {
  background-image:;
  background-size: cover;
  background-position: center;
}

#pc3 {
  background-image:;
  background-size: cover;
  background-position: center;
}

/*.buttonDiv {
  display: none;
  width: 100%;
}*/

.buttons {
  margin: auto;
  display: none;
  /*position: fixed;*/
  /*visibility: hidden;*/
}

.masks {
  display: none;
}

/*#tbl {
  background-color: grey;
  min-height: 300px;
  min-width:912px;
  margin: 45px 0 0 0;
  visibility: hidden;
}*/

tr, td {
  border: none;
}

#chartDiv {
  height: 150%;
  width: 150%;
  margin: 0 0 0 0;
  /*border: 5px solid white;*/
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  /*opacity: 0.1;*/
  /*z-index: 9999;*/
  display: none;
}

#littleMask {
  height: 60%;
  width: 61%;
  margin: 3% 25% 0 24%;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  /*opacity: 1;*/
  /*z-index: 9999;*/
  display: none;
}

#button1 {
  display: none;
  margin: 45% 0 0 45%;
}

#button2 {
  display: none;
  margin: 0 5% 0 36%;
  margin: -2% 5% 0 36%;
}

#button3 {
  display: none;
  margin: -2% 5% 0 36%;
}

#chartChart {
  /*margin: 25% 0 0 10%;*/
  margin: 18% 0 0 15%;
  width: 43%;
  height: 45%;
}

canvas {
  maintainAspectRatio: false;
  responsive: true;
  defaultColor: rgba(0, 0, 0, 1);
  fontColor: rgba(0, 0, 0, 1);
  background-color: rgba(255,255,255,1);
  /*opacity: 0.1;*/
}

.animation1 {
  background-color: #000;
}
